* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1440px;
  width: 80%;
  margin: 0 auto;
}

header {
  width: 100%;
  background: var(--light, #FFF9EA);
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 108px;
  padding: 0 20px;
}

.logo {
  width: 168px;
  height: 47px;
  display: flex;
  align-items: center;
}

.navigation__menu {
  list-style: none;
  display: flex;
  gap: 20px;
}

.icons {
  display: flex;
  gap: 10px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

.header__big__text {
  font-size: 36px;
  margin-top: 40px;
}

p {
  font-size: 18px;
  color: #555;
  margin-top: 10px;
}

.get__started {
  padding: 10px 20px;
  background-color: #ff9900;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

.header__food {
  max-width: 50%;
  margin-left: 20px;
}

.how-it-works {
  text-align: center;
  padding: 50px 0;
}

.how-it-works h2 {
  margin-bottom: 40px;
}

.how-it-works .features {
  display: flex;
  justify-content: space-around;
}

.how-it-works .feature {
  width: 30%;
}
